@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.quiz-container {
  display: flex;
  justify-content: center;
}
.score-section {
  text-align: center;
  font-weight: 900;
  padding: 40px;
  margin-bottom: 300px;
  font-size: 35px;
}
.question-section {
  display: flex;
  flex-direction: column;
}
.question-count {
  text-align: center;
  padding: 20px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  font-size: xx-large;
}
.main {
  background-color: #31b7bc;
  align-self: center;
  border-radius: 15px;
  margin: 90px;
  padding: 10px;
  width: 90%;
  min-width: 100px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}
.answer-section {
  display: flex;
  flex-direction: column;
}
.answer-section button,
.butn {
  align-self: center;
  text-align: center;
  margin: 10px;
  border: none;
  font-size: large;
  border-radius: 10px;
  padding: 13px 26px;
  width: 140px;

  background-color: #f08575;
}
.question-text {
  font-weight: 600;
  font-size: large;
  text-align: center;
}
.quiz {
  font-family: "Montserrat";
  max-width: 1100px;
  justify-content: center;
  display: flex;
  width: 100%;
}
.quiz-container {
  min-height: 70vh;
}
