:root {
  --mainDark: #343a40;
  --mainGrey: rgba(109, 109, 109);
  --mainLightGrey: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
  --mainTeal: #31b7bc;
  --mainDarkTeal: #005c6e;
  --mainLightTeal: #b2d3df;
  --mainPeach: #f07175;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.video-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: cover;
  box-shadow: #f07175;
}

.vid-container {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.navbar-bgdark {
  color: #31b7bc;
}
.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  border: none;
}
